@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    border: 4rem solid #B084CC;
    background: #5DD9C1;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    display: flex;
}

@media (min-width: 300px) and (max-width: 767.98px) { 
body {  
    border:  2rem solid #B084CC;
}
}

html {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

.game-grid .container-fluid {
    width: 100%;
}

.grid {
    margin-left: 2.5rem;
    margin-top: 2rem;
}

.modal {
  margin-left: 0; 
  margin-top: 0; 
  box-shadow: 0.7rem 0.7rem 0.7rem rgba(68, 68, 68, 0.6);
}

.modal-content {
  background-color:  #B084CC;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
   box-shadow: 0.7rem 0.7rem 0.7rem rgba(68, 68, 68, 0.6);
}

.modal-title {
    color: #ACFCD9;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

 .btn-primary  {
     background-color:  #B084CC;
     border: solid 0.1rem  rgb(255, 255, 23);
     display: inline-block;
 }

 .btn-primary:hover {
    background-color:  #B084CC;
     border: solid 0.1rem  rgb(255, 255, 23);
 }

 .btn-primary:active {
    background-color:  #B084CC;
     border: solid 0.1rem  rgb(255, 255, 23);
 }

 .btn-primary:focus {
    background-color:  #B084CC;
     border: solid 0.1rem  rgb(255, 255, 23);
 }